.error {
    color: red
}

.success {
    color: green
}

#text {
    color: blue
}

.orange {
    background-color: orange;
    text-align: center;
    line-height: 2;
    letter-spacing: 3px;
    word-spacing: 1px;
}

.yellow {
    background-color: yellow
}

.font-style{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font: size 110px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.box-model{
    border: 1px solid red;
    height: 50px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 20%;
}

h2{
    color: red;
}

h2{
    color: orange;
}


h3{
    color: red;
}

.subheading{
    color: aqua;
}

#title{
    color: blue;
}